<footer class="footer">
    <div class="footer__informacion">
        <span class="footer__informacion--titulo">2025 Produbanco</span>
        <span class="footer__informacion--autor">Todos los derechos reservados.</span>
    </div>

    <div class="footer__imagen">
        <img class="footer__imagen--img" src="https://is1-ssl.mzstatic.com/image/thumb/Purple221/v4/98/2a/9c/982a9ca8-73dd-f955-c63b-f4be78d1a94a/AppIcon-1x_U007emarketing-0-7-0-85-220-0.png/1200x630wa.png" alt="Logo Produbanco">
    </div>
</footer>